#
# Run CI tests
#

# Note:
# This workflow is designed to run only in Azure/PSRule.Rules.Azure-quickstart.
# You can safely deleted this file if you have templated this repository to your GitHub organization.

# For PSRule documentation see:
# https://aka.ms/ps-rule

# For action details see:
# https://aka.ms/ps-rule-action

name: CI

# Run for main or PRs against main
on:
  push:
    branches: [main, 'dependencies/*']
  pull_request:
    branches:
      - main
  schedule:
    - cron: '54 20 * * 0' # At 08:54 PM, on Sunday each week
  workflow_dispatch:

permissions: {}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    if: github.repository == 'Azure/PSRule.Rules.Azure-quickstart'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check repository content
        uses: microsoft/ps-rule@46451b8f5258c41beb5ae69ed7190ccbba84112c # v2.9.0
        with:
          modules: PSRule.Rules.MSFT.OSS

      # Install a specific version of Bicep for consistency across CI runs.
      # - name: Install Bicep
      #   run: az bicep install --version v0.39.26
      - name: Check Azure samples
        uses: microsoft/ps-rule@46451b8f5258c41beb5ae69ed7190ccbba84112c # v2.9.0
        with:
          modules: PSRule.Rules.Azure
          outputFormat: Sarif
          outputPath: reports/ps-rule-results.sarif
          summary: true
        # env:
        #   # Use Bicep from Azure CLI.
        #   PSRULE_AZURE_BICEP_USE_AZURE_CLI: true

      - name: Upload results to security tab
        uses: github/codeql-action/upload-sarif@45cbd0c69e560cd9e7cd7f8c32362050c9b7ded2 # v3.29.5
        if: always()
        with:
          sarif_file: reports/ps-rule-results.sarif

      - name: Upload results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: PSRule-Sarif
          path: reports/ps-rule-results.sarif
          retention-days: 1
          if-no-files-found: error
